<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="bg-dark text-white py-4 mt-4" th:fragment="footer_admin">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>XCRM</h5>
                <p>Gestión de clientes y campañas de marketing</p>
            </div>
            <div class="col-md-3">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-white">Inicio</a></li>
                    <li><a th:href="@{/contacto}" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Soporte</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-envelope"></i> soporte@xcrm.com</li>
                    <li><i class="bi bi-telephone"></i> +34 123 456 789</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="mb-0">&copy; 2024 XCRM. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
</body>
</html>
