<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar Autenticado</title>
</head>
  <body>
    <nav th:fragment="navbar-auth" class="navbar navbar-expand-lg navbar-custom sticky-top">
      <div class="container">
        <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/logo3.png}" alt="Logo XCRM" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}"><i class="bi bi-house-door"></i> Inicio</a>
            </li>
          </ul>
          <div class="d-flex">
            <form th:action="@{/logout}" method="post">
              <button class="btn btn-outline-dark" type="submit">
                <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>