<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a XCRM</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/images/logo3.png}" alt="Logo XCRM"/>
    </div>
    <ul class="nav-menu">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/caracteristicas}">Características</a></li>
        <li><a th:href="@{/precios}">Precios</a></li>
        <li><a th:href="@{/contacto}">Contacto</a></li>

        <!-- Mostrar 'Mi Cuenta' y logout si el usuario está autenticado -->
        <li th:if="${loggedIn}">
            <a th:href="@{/mi-cuenta}">Mi Cuenta</a>
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button class="logout-button" type="submit">Cerrar Sesión</button>
            </form>
        </li>

        <!-- Mostrar 'Login' si el usuario no está autenticado -->
        <li th:unless="${loggedIn}">
            <a th:href="@{/login}">Login</a>
        </li>
    </ul>
</header>

<main>
    <div sec:authorize="hasRole('ROLE_GOOD')" class="good-section">
        <h3>Todas las organizaciones</h3>

        <!-- Tabla para mostrar las organizaciones -->
        <table class="organization-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Base de datos</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="org : ${organizaciones}">
                <td th:text="${org.id}"></td>
                <td th:text="${org.nombre}"></td>
                <td th:text="${org.nombreDB}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <section>
        <h2>Hero Section</h2>
        <p>Bienvenido a nuestro CRM.</p>
    </section>
</main>
<footer>
    <p>&copy; 2024 XCRM. Todos los derechos reservados.</p>
    <script type="text/javascript" th:src="@{/JavaScript/cerrar.js}" defer></script> <!-- Ruta relativa -->
</footer>
</body>
</html>
